<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div><p>sign up</p>
    <form action="/sign-up">
        <label>username
            <input type="text" name="username">
        </label>
        <label>Name
            <input type="text" name="name">
        </label>
        <label>Last name
            <input type="text" name="lastname">
        </label>
        <label>Password
            <input type="text" name="password">
        </label>
    <button type="submit">Submit</button>
    </form>
</div>
<a href="/login">Already have an account?</a>
</body>
</html>